#text-wrapper{
    display:flex;
    flex-direction: row;
    flex-grow: 1;
}

#text-editor{
    flex-grow: 1;
    margin-left: 1%;
    margin-right:1%;
    overflow-y: scroll;
    
    height:95vh;
    max-width: 60vw;
}

#text-manager-wrapper{
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#text-manager-resize{
    cursor: ew-resize;
    width: 2px;
    margin-right: 3px;
    margin-left: 3px;
    height: 100vh;
    border-left: solid black 1px;
    border-right: solid black 1px;

}

#text-manager{flex-grow: 1;
height: 100vh;}

.file-name{

}

.file-date{
    text-align: right;
    font-size: small;
    color: #999;
}

.file-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px;
    padding: 5px;
    border-bottom: solid 1px black;
    cursor: pointer;
    max-width: 95%;
}

#text-list{
    max-width: 100%;
    overflow-y: scroll;
    height: 90%;
}

.text-line-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-right: 1vw;
    transition: all 0.1s ease-in-out;
    user-select: none;
    cursor: text;
}

.text-line{
    flex-grow: 1;
}

.gloss-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 5px;
    width: fit-content;
    height: 50px;
    flex-wrap: wrap;
}
.gl-2-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: start;
    position: relative;
}
.gl-1{
    font-style: italic;
    margin-bottom: 2px;
}
.gl-2{position: relative;}

.morpheme-form{
    padding-left: 3px;
    padding-right: 3px;
}

.gl-t{
    
    margin-top: 5px;

}

.gl-meta{
    font-size: small;
    color:#555;
}

.copy-button{
    cursor: pointer;
    user-select: none;
    text-align: right;
    opacity: 1;
}

.copy-button:active{
    color: #999;
}

.play-button{
    cursor: pointer;
    user-select: none;
    text-align: right;
    opacity: 1;
}

.play-button:active{
    color: #999;
}

.text-line-buttons{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.hovered-line{
    background-color: #f0f0f0;
    transition: all 0.1s ease-in-out;
}

.morpheme-dropdown-list{
    display: none;
    cursor: pointer;
    position: absolute;
    background-color: white;
}
.dropdown-wrapper{
    /* position: relative; */
    z-index: 2;
    width: fit-content;
}

.dropdown-display{
    border-bottom: 1px black solid;
    cursor: pointer;
    padding-left: 3px;
    padding-right: 3px;
}

.morpheme-dropdown-item{
    border: #333 1px solid;
    margin-bottom: 2px;
    padding: 0.3vw;
    background-color: white;
    z-index: 5;
    position: relative;
}

.morpheme-dropdown-item:hover{
    border-color: black;
    background-color: #f0f0f0;
}

.active{
    background-color: #aaa !important;
}

.gloss-item-divider{
    width: 1px;
    background-color: black;
    
    height: 50px;
    margin-left: 0.6vw;
    margin-right: 0.6vw;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: all 0.1s;
    cursor: pointer;
}

.gloss-item-divider:hover{
    opacity:1;
    transition: all 0.1s;
}

.divider-button{
    background-image: url('../fonts/add-gloss.svg');
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: block;
    position: relative;
    top: 50%;
    transform: translate(-50%,-50%);
    opacity: inherit;
}

.text-variety-interface{
    height:fit-content;
}